# quicklunch is not yet an egg
# file://{{ quicklunch_dir }}/#egg=quicklunch
file://{{ tripleo_quickstart_dir }}/#egg=tripleo-quickstart
file://{{ tripleo_quickstart_extras_dir }}/#egg=tripleo-quickstart-extras
