{%- set quicklunch_parameter_defaults = {} -%}
{%- for var_name, var_value in vars.items() -%}
{%- if var_name.startswith('oc_param_') -%}
  {#- weird but works -#}
  {%- if quicklunch_parameter_defaults.update({var_name[9:]: var_value}) -%}{%- endif -%}
{%- endif -%}
{%- endfor -%}
parameter_defaults: {{ quicklunch_parameter_defaults | to_nice_json(indent=2) }}
